body{
    margin: 0;
    /* text-align: center; */
    background-color:#caf7e3;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 4.5em;
}
h2{
    font-family: 'Sigmar One', cursive;
}
.top-container{
    background-color: #caf7e3; 
    position: relative;
    padding-top: 100px;
    text-align: center;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    text-align: center;
}  
.cloud1{
    position: absolute;
    right: 200px;
    top: 20px;
}
.cloud2{
    position: absolute;
    left: 200px;
}
.pagoda{
    position: relative;
}
.middle-container{
    background-color: #caf7e3 ;
    position: relative;
    padding-top: 50px;
    text-align: center;
}
.profilepic{
    border-radius: 60%;
    width:250px;
    height:300px;
}
.map{
    position: absolute;
    right: 100px;
    width: 200px;
    height: 400px;
}
.jjay{
    position: absolute;
    left: 50px;
    width: 350px;
    height: 300px;
}
.bottom-container{
    background-color: #f9dfdc;
}
/* body{
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-align: center; 
}*/

.container{
    width: 80%;
    margin: auto;
}

header{
    background: #55d6aa;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;

}

nav a:hover{
    color: #2C2891;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #2C2891;
    position: absolute;
    top: 0px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

/* Skills section */

.wrapper h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Sacramento', cursive;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.skill{
    padding: 0 20px 20px;
    position: relative;
}

img:hover{ 
    transition: .9s;
}

/* footer */
.footer{
    background: fill;
    background-color: #55d6aa;
    color: #444;
    text-align: center;
    padding: 0cm 0 0.1cm;
    font-size: x-large;

    margin-top: auto;
}
.footer p{
    margin-top: 0;
    margin-bottom: 0.5cm;
    color: rgb(87, 86, 86);
}
.footer a{
    color: inherit;
    text-decoration: none;
}

.footer__link{
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover{
    opacity: .7;
}

.footer__link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 0 0;
    padding: 0;
}

.social-list__item{
    margin: 0.5cm;
}